<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark py-0">
  <div class="container-fluid">
    <button
      class="navbar-toggler py-0 px-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form
          class="nav-item d-flex justify-content-center bg-dark px-4 searchBar"
          action="/result"
          method="POST"
        >
          <input
            class="form-control me-2"
            type="search"
            name="search"
            id="search"
            placeholder="Search user"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item d-flex justify-content-center bg-dark px-0">
          <a class="nav-link" href="/incomingEvents">Incomming Events</a>
        </li>
        <li class="nav-item d-flex justify-content-center bg-dark px-0">
          <a class="nav-link" href="/invitations">Invitations</a>
        </li>
        <li class="nav-item d-flex justify-content-center bg-dark px-0">
          <a class="nav-link" href="/pastEvents">Past Events</a>
        </li>
        <li
          class="nav-item d-flex justify-content-center bg-dark px-0"
          style="border-radius: 0 0 20px 20px"
        >
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
