<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Game Room</title>
  </head>
  <body>
    <a href="/logout">LOG OUT</a>
    <br />
    <a href="/gameHall">Switch Game Room</a>
    <!-- This input is only for send game id to js file  -->
    <input
      type="hidden"
      id="gameId"
      value="<%= game.id %>"
      style="display: hidden"
    />

    <h1>
      <%= currentUser.displayName %>, welcome to Game Room: <%= game.name %>
    </h1>

    <p>Hey! This is the game room</p>
    <div id="outputMsg"></div>
    <button id="restartBtn">Play again</button>
    <button id="quitBtn">Leave game</button>
    <div id="playersContainer"></div>

    <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/gameRoom.js"></script>
  </body>
</html>
