<%- include('./partials/header') %>
<div>
  <h1><%= currentUser.displayName %>, welcome to Game Hall!</h1>
  <input type="text" name="name" id="gameName" placeholder="Game Name" />
  <button id="newGameBtn">New Game Room</button>
  <br />
  <a href="/logout">LOG OUT</a>
</div>
<div id="outputMsg"></div>

<div id="gameRoomsContainer">
  <p>Game Rooms</p>

</div>


   
    <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="gameHall.js"></script>
  </body>
</html>