<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/style.css" />
    <title>Game Room</title>
  </head>
  <body>
    <div
      class="container-fluid d-flex col-md-8 col-lg-3 flex-column overflow-auto h-100 justify-content-start my-3 mx-5"
    >
      <!-- Log out  -->
      <div class="d-flex flex-column algin-content-center mt-0 my-3">
        <a href="/logout" class="btn btn-primary">LOG OUT</a>
      </div>
      <!-- Switch Game Room  -->
      <div class="d-flex flex-column algin-content-center mt-0 my-3">
        <a href="/gameHall" class="btn btn-success">Switch Room</a>
      </div>
      <!-- This input is only for send game id to js file  -->
      <input
        type="hidden"
        id="gameId"
        value="<%= game.id %>"
        style="display: hidden"
      />
      <div class="d-flex flex-column text-center mt-0 my-2">
        <h4>Game Room: <%= game.name %></h4>
        <h5><%= currentUser.displayName %>, welcome!</h5>
      </div>
      <hr />
      <!-- Message board  -->
      <div
        id="outputMsg"
        class="d-flex flex-column algin-content-center m-0 my-3 overflow-scroll"
      ></div>
      <hr />
      <!-- Players container  -->
      <div id="playersContainer" class="container-fluid d-flex flex-row"></div>

      <!-- <button id="restartBtn">Play again</button> -->
      <div
        class="d-flex flex-column algin-content-center mt-0 my-3 fixed-bottom"
      >
        <button id="quitBtn" class="btn btn-warning">Leave game</button>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/gameRoom.js"></script>
  </body>
</html>
