@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #333;
  --primary: #333;
  --secondary: #555;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #fff;
  --dark: #555;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border: solid 1px black;
  text-align: center;
  background-color: rgb(54, 39, 62);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}

.game {
  width: auto;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  border: solid 1px black;
  border-radius: 5px;
  background-color: #555;
  color: white;
}

@media screen and (min-width: 450px) {
  body {
    display: none;
  }
}
